<html>

    <head>
        <title>Reptile & Amphibian Shop</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Unbounded:wght@600&display=swap" rel="stylesheet">
    </head>

<body>
    <h1>Reptiles & Amphibians Orders:</h1>
    <div>
        <ul>
            <li><b>Customer Name:</b> {{orders.customer_name}}<b> Species:</b> {{ orders.species }}, <b>Morph:</b> {{ orders.morph }}, <b>Total: £{{orders.price}} </b></li>
        </ul>
    </div>
</body>

</html>